.filter-select-wrap {
  margin-top: 15px;
  .filter-select-title {
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
  }
  .filter-select-contain {
    .selection {
      list-style: none;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      border: none;
      .item {
        width: 43%;
        display: inline-block;
        padding: 6px 8px;
        font-size: 14px;
        font-weight: 300;
        border: 1px solid #666;
        color: #666;
        text-align: center;
        margin: 5px;
        border-radius: 5px;
        &:hover {
          background-color: #666;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.is_selected {
  background-color: #666;
  color: #fff!important;
}
