.read-btn-ul {
  background-color: #e6e6e6;
  color: #333;
  border-radius: 8px;
  position: relative;
  .read-btn-li {
    padding: 12px 18px;
    font-size: 22px;
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
.read-table {
  //border: 1px solid red;
  .read-chapter {
    position: absolute;
    display: none;
    top: 0;
    right: 60px;
    width: 600px;
    z-index: 1;
    //height: 400px;
    background-color: #fff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  }
  .read-setting {
    position: absolute;
    display: none;
    top: 48px;
    right: 60px;
    width: 600px;
    z-index: 1;
    //height: 400px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 24px;
    span {
      font-size: 18px;
      font-weight: 500;
      //margin-bottom: 16px;
    }
    .read-table-color {
      display: flex;
      margin-top: 16px;
      color: #333;
      opacity: 0.8;
      .read-table-color-title {
        padding: 12px;
        width: 50%;
        ._icon {
          margin-right: 10px;
        }
      }
      .read-color-ul {
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        .read-color-li {
          width: 25%;
          margin-right: 20px;
          margin-bottom: 16px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }
    .table-font {
      display: flex;
      //justify-content: center;
      //align-items: ce;
      align-items: center;
      color: #333;
      opacity: 0.8;
      .read-table-font-title {
        padding: 12px;
        width: 50%;
        ._icon {
          margin-right: 10px;
        }
      }
      .read-font-ul {
        //padding: 12px;
        width: 50%;
        select {
          padding: 8px 24px;
          width: 100%;
          appearance: none;
        }
      }
    }
    .table-size {
      display: flex;
      align-items: center;
      color: #333;
      opacity: 0.8;
      margin-top: 12px;
      .read-table-size-title {
        padding: 12px;
        width: 50%;
        display: flex;
        //justify-content: center;
        ._icon {
          margin-right: 10px;
          height: 16px;
          width: 16px;
        }
      }
      .read-size-ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        ._text {
          font-size: 15px;
          font-weight: 600;
        }
        ._btn {
          width: 10%;
          ._icon {
            height: 25px;
            width: 25px;
          }
        }
      }
    }
  }
  .read-audio {
    position: absolute;
    display: none;
    top: 0;
    right: 60px;
    width: 600px;
    z-index: 1;
    //height: 400px;
    background-color: #fff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
      rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
      rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    height: 500px;
    
  }
}
.activity {
  display: block !important;
}
.select {
  border: 3px solid #ed4259 !important;
}
.color-1 {
  color: #cbe1cb;
  background-color: #cbe1cb;
}
.color-2 {
  color: #f5ebcd;
  background-color: #efdfaf;
}
.color-3 {
  color:#bbab90;
  background-color: #bbab90;
}
.color-4 {
  color:#e3e3e3;
  background-color: #e3e3e3;
}
.color-5 {
  color:#e5e3df;
  background-color: #e5e3df;
}
.color-6 {
  color:#e1e8e8;
  background-color: #e1e8e8;
}
.color-7 {
  color:#eae4d3;
  background-color: #eae4d3;
}
.color-8 {
  color:#fff;
  background-color: #ededed;
}
.block-active {
  pointer-events: none;
}